div {
 font-family: Roboto, sans-serif;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 text-align: center;
 border: 5px solid rgba(0,1,300,0.8);
 background: rgba(0,1,300,0.5);
 color: whitesmoke;
 box-shadow: 2px 2px 3px rgba(0,0,300,0.5);
 border-radius: 12px;
 padding: 4px 12px;
 display: inline-block;
 cursor: pointer;
}

.myDiv{
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}